div {
    display: grid;
    position: relative;
    grid-template-columns: 15.6% 28.6% 7.8% 5.5% 8% 20.5% 7% 7%;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    color: white;
    height: 10vh;

    #footerButton {
        display: flex;
        grid-column: 8;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        background: transparent;
        cursor: pointer;
    }

    #continueFooterTest {
        display: flex;
        flex-direction: column;
        grid-column: 7;
        justify-content: center;
        text-align: center;
        background: #FFFFFF;
        color: #C13216;
        font-size: 12px;
    }

    span {
        display: flex;
        grid-column: 3;
        justify-content: center;
        align-items: center;

        #divSpan {
            height: 45px;
            margin-right: 35%;
            border-left: 1px solid #FFFFFF;
        }
    }

    #refresh {
        display: flex;
        align-items: center;
        text-align: right;
        font-size: 10px;
        grid-column: 4;
        color: #FFFFFF;
        background: transparent;
    }

    #timer {
        display: flex;
        flex-direction: column;
        grid-column: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
    }
}

@media (max-width: 1022px) {
    div { 
        display: grid;
        position: relative;
        grid-template-columns: 25% 75%;

        #footerButton {
            position: absolute;
            top: 0;
            width: 25%;
            height: 100%;
            grid-column: 1;
        }

        #continueFooterTest {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 12px;
            width: 100%;
            grid-column: 2;
        }
    }

    #divSpan {
        display: none;
    }
}