section {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);

    #containerLogin {
        display: flex;
        flex-direction: column;
        width: 50%;
        background: blue;
    }
}