div {
    display: flex;
    justify-content: space-between;
    height: 20vh;

    img {
        height: 40px;
        margin-left: 3%;
        margin-top: 1%;
    }

    #clockDate {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        margin-top: 2%;

        .clock {
            font-size: 110px;
            font-weight: bold;
        }

        .date {
            font-size: 12px;
        }
    }

    #weather {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: end;
        margin-top: 1%;
        margin-right: 3%;
    }
}

@media (max-width: 1021px) {

    div {
        #clockDate, #weather {
            display: none;
        }
    }
}